@import 'colors';
@import 'fonts';
//@import 'form';
//@import 'error';
//@import 'header';
//@import 'footer';
//@import 'featuretoggles';
//@import 'herobanner';
//@import 'mediaqueries';
//@import 'layout';
@import 'landingpage';
@import 'loader';
//@import 'newstory';
//@import url(https://www.thoughtworks.com/css/k8s_production/screen.css);

.buttons-group {
  padding: 15px 0 25px;
}
.button {
  background: #221d1f;
  border: none;
  display: inline-block;
  text-align: center;
  font-family: "Open Sans","Microsoft YaHei","Hiragino Sans GB","Hiragino Sans GB W3","微软雅黑","Helvetica Neue",Arial,sans-serif;
  background-position: 92% center!important;
  background-repeat: no-repeat!important;
}
.quadrant-btn--group {
  text-align: left;
}
.button:last-child {
  margin-right: 0;
}
.button {
  font-size: $baseFont;
  text-transform: capitalize;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s ease-out;

  background-color: $grey-light;
  color: $black;

  &.no-capitalize {
    text-transform: none;
  }

  &:hover,
  &.selected {
    transform: translate(0, -2px);
    opacity: 0.85;

    &.first {
      color: white;
      background-color: $green;
    }

    &.second {
      color: white;
      background-color: $blue;
    }

    &.third {
      color: white;
      background-color: $orange;
    }

    &.fourth {
      color: white;
      background-color: $violet;
    }
  }

  &.full-view {
    &.first {
      background-color: $green;
      color: $white;
    }

    &.second {
      background-color: $blue;
      color: $white;
    }

    &.third {
      background-color: $orange;
      color: $white;
    }

    &.fourth {
      background-color: $violet;
      color: $white;
    }
  }
}
.ui-autocomplete {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-shadow: 1px 2px 6px;
  background-color: #fff;
  color: #221d1f;
  -webkit-transition: left .1s ease-in-out;
  transition: left .1s ease-in-out;
  overflow-y: scroll;
  max-height: 300px
}
.ui-menu-item {
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0;
  overflow: hidden
}
.ui-menu-item a {
  text-decoration: none;
  color: #221d1f;
  width: 100%;
  border: none;
  display: inline-block;
  padding-left: 10px
}
.ui-menu-item a:hover {
  color: #221d1f
}
.ui-menu-item .ui-state-active,.ui-menu-item .ui-state-focus {
  background-color: #444!important;
  color: #fff!important
}
.ui-autocomplete {
  width: 275px !important;

  .ui-autocomplete-quadrant {
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
  }

  .ui-menu-item {
    white-space: normal;
    font-size: 14px;
    font-weight: 400;

    .ui-menu-item-wrapper {
      padding: 0 10px;
    }
  }
}
input,select,textarea {
  font-family: "Open Sans","Microsoft YaHei","Hiragino Sans GB","Hiragino Sans GB W3","微软雅黑","Helvetica Neue",Arial,sans-serif;
  display: inline-block;
  height: 2.4em;
  padding: 5px 15px;
  margin-bottom: 5px;
  font-size: 16px;
  width: 100%;
  background-color: #ebebeb;
  color: #666;
  border-width: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 2px;
  border-bottom: 2px solid #d7d7d7 !important
}
input:focus,select:focus,textarea:focus {
  box-shadow: inset 0 0 1px #000;
  outline: 0;
  border-bottom: 2px solid #6c6c6c !important
}

/*
body {
  font: 18px 'Open Sans';
  opacity: 0;
  @if $UIRefresh2022 {
    font-family: $baseFontFamily;
    opacity: 1;

    h1 {
      font-size: 2rem;
      font-family: 'Bitter', serif;
      text-transform: none;
      letter-spacing: normal;

      @include media-query-large {
        font-size: 3.5rem;
      }
    }

    p {
      font-size: 18px;
      font-family: $baseFontFamily;
      line-height: 27px;
      font-weight: 360;
    }

    a {
      color: $link-normal;
      border-color: $link-normal;

      &:hover {
        color: $link-hover;
        border-color: $link-hover;
      }
    }
  }

  -webkit-font-smoothing: antialiased;
  margin: 0;
}*/

@media print {
  body,
  article {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  @page {
    margin: 2cm;
  }

  a:after {
    content: ' <' attr(href) '> ';
    font-size: 0.8em;
    font-weight: normal;
  }

  #radar-plot {
    display: none;
  }

  .quadrant-table {
    .quadrant-table__name {
      display: block;
      font-size: 36pt;
      padding: 0 10px;
      margin-bottom: 20px;
    }

    &.first .quadrant-table__name {
      color: $green;
    }

    &.second .quadrant-table__name {
      color: $blue;
    }

    &.third .quadrant-table__name {
      color: $orange;
    }

    &.fourth .quadrant-table__name {
      color: $violet;
    }
  }

  .quadrant-table {
    page-break-after: always;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      page-break-inside: avoid;
    }

    h3 {
      page-break-before: always;
      padding: 0 10px;
      text-transform: uppercase;
      font-size: 18pt;
      font-weight: bold;
    }

    h2 + h3 {
      page-break-before: avoid;
    }
  }

  .blip-list-item {
    font-weight: bold;
  }

  .blip-item-description {
    padding: 0 15px;
  }

  header {
    text-align: left;

    .radar-title .radar-title__text {
      font-size: 40px;
      width: 100%;
      padding: 10px;
      display: block;
    }

    .radar-title .radar-title__logo {
      display: block;
      width: auto;

      a {
        padding: 40px 10px 0;
        display: block;

        &::after {
          display: none;
        }
      }

      img {
        max-width: 150px;
      }
    }

    .buttons-group {
      display: none;
    }

    .home-link {
      display: none;

      &.selected {
        display: none;
      }
    }

    #alternative-buttons {
      display: none;
    }

    .print-radar {
      display: none;
    }
  }

  #footer {
    display: none;
  }

  .error-container {
    display: none;
  }
}

@media screen {
  #radar {
    //width: 80%;
    margin: 0 auto;
    position: relative;

    svg#radar-plot {
      margin: 0 auto;
      transition: all 1s ease;
      position: absolute;
      left: 0;
      right: 0;

      .legend {
        visibility: hidden;
        transition: visibility 1s ease 1s;
        color: $black;
      }

      path {
        &.ring-arc-3 {
          stroke: none;
          fill: $grey-light;
        }

        &.ring-arc-2 {
          stroke: none;
          fill: $grey;
        }

        &.ring-arc-1 {
          stroke: none;
          fill: $grey-dark;
        }

        &.ring-arc-0 {
          stroke: none;
          fill: $grey-darkest;
        }
      }

      .blip-link {
        text-decoration: none;
        cursor: pointer;
      }

      .quadrant-group {
        cursor: pointer;
      }

      circle,
      polygon,
      path {
        &.first {
          fill: $green;
          stroke: none;
        }

        &.second {
          fill: $blue;
          stroke: none;
        }

        &.third {
          fill: $orange;
          stroke: none;
        }

        &.fourth {
          fill: $violet;
          stroke: none;
        }
      }

      line {
        stroke: white;
      }

      text {
        &.blip-text {
          font-size: 9px;
          font-style: italic;
          fill: $white;
        }

        &.line-text {
          font-weight: bold;
          text-transform: uppercase;
          fill: $black;
          font-size: 7px;
        }
      }
    }

    div.quadrant-table {
      .quadrant-table__name {
        display: none;
      }

      max-height: 0;
      max-width: 0;
      position: absolute;
      overflow: hidden;

      transition: max-height 0.5s ease 1s;

      h3 {
        text-transform: uppercase;
        font-size: $baseFont;
        margin: 0;
        font-weight: bold;
      }

      &.first {
        &.selected {
          float: right;
        }
      }

      &.second {
        &.selected {
          float: left;
        }
      }

      &.third {
        &.selected {
          float: left;
        }
      }

      &.fourth {
        &.selected {
          float: right;
        }
      }

      &.selected {
        position: relative;
        max-height: 10000px;
        max-width: 40%;
      }

      ul {
        padding: 0;
        margin-left: 0;

        li {
          list-style-type: none;
          padding-left: 0;

          .blip-list-item {
            padding: 2px 5px;
            border-radius: 2px;
            cursor: pointer;
            font-size: $baseFont;
            font-weight: 400;

            &.highlight {
              color: white;
              background-color: rgba(0, 0, 0, 0.8);
            }
          }

          .blip-item-description {
            max-height: 0;
            overflow: hidden;
            width: 300px;

            p {
              margin: 0;
              border-top: 1px solid rgb(119, 119, 119);
              border-bottom: 1px solid rgb(119, 119, 119);
              padding: 20px;
              color: $grey-text;
              font-weight: 100;
              font-size: 14px;
            }

            transition: max-height 0.2s ease;

            &.expanded {
              transition: max-height 0.5s ease 0.2s;
              max-height: 1000px;
            }
          }
        }
      }
    }
  }
}
